.message {
    margin: 15px 0;
    padding: 7px 15px;
    background: cornflowerblue;
    border-radius: 15px;
    align-self: flex-end;
}

.message_robot {
    margin: 15px 0;
    padding: 7px 15px;
    background: pink;
    border-radius: 15px;
    align-self: flex-start;
}
